// _article-block.scss

.article-block {
  margin-bottom: 2.5rem;
  h3 {
    margin: 0;
    margin-top: 1em;
    font-size: .9em;
    a {
    color: $dark-grey;
    font-weight: bold;
    &:hover {
      color: $red;
      }
    }
  }
  p {
    margin: 0;
    margin-top: .25em;
    font-size: .75em;
    a {
    color: $grey-blue;
    &:hover {
      color: $dark-grey;
      }
    }
  }
}
