// _globals.scss

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 1em/1.4 $font-stack-sans;
  color: $dark-grey;
}

.wrapper {
	padding-top: 2.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
	width: 100%;
}