// _main-headline.scss

.main-headline h2 {
  font: 1.05em/1.4 $font-stack-serif;
  background: $background-grey;
  font-weight: normal;
  padding: 2.5rem;
  margin: 0 0 1.25rem 0;
  a {
    color: $red;
    &:hover {
      color: $grey-blue;
    }
  }
}