// _page-footer.scss

.page-footer {
	font-size: .7em;
	background: $background-grey;
	ul {
		line-height: 2.5;
		a {			
			color: $dark-grey;
			&:hover {
				color: $grey-blue;
			}
		}
		&:first-of-type {
			li:first-of-type a {
				color: $red;
				&:hover {
					color: $grey-blue;
				}
			}
		}				
	}
}