// _variables.scss

// colors
$white: #fff;
$grey: #eee;
$black: #333;
$dark-grey: #444;
$grey-blue: #4e6e84;
$red: #ad402f;
$background-grey: #f5f5f5;

// fonts
$font-stack-sans: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-stack-serif: Georgia, Times, 'Times New Roman', serif;
